Package: bifrost
Version: 1.0.1
Architecture: amd64
Maintainer: Kunazagi <bifrost@yonasuriv.com>
Installed-Size: 12
Section: unknown
Priority: optional
Multi-Arch: foreign
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
